.section-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: initial;
  }
}

.features__item {
  display: block;

  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 120px;
  background: var(--bg-batton);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 0;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__title {
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__prg {
  color: var(--p-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
