.page-header {
  position: relative;
  background-color: var(--main-white);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid var(--border-header);
}

.page-header__conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.logo {
  color: var(--black);
  font-family: $Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo__logo--first-words {
  color: var(--blue);
}

.logo-nav__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 51px;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 53px;
    margin-left: 93px;
  }
}

.logo-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav__link {
  position: relative;

  display: block;
  color: var(--black);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }
}

.site-nav__link--current {
  color: var(--blue);
}

.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 96px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
}

.auth-nav__link {
  display: block;
  color: var(--p-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav__link--envelope {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    padding-bottom: 10px;
  }
}

.auth-nav__link--smartphone {
  display: flex;
  align-items: center;
}

.mail-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link--current {
  color: var(--blue);
}

.site-nav__link--current::after {
  @media screen and (min-width: 1200px) {
    display: block;
    position: relative;
    bottom: -33px;
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 2px;
  }
}
