:root {
  --black: #212121;
  --p-color: #757575;
  --main-white: #ffffff;
  --blue: #2196f3;
  --color-a-ftr: rgba(255, 255, 255, 0.6);
  --bg-batton: #f5f4fa;
  --color-ftr: #2f303a;
  --main-bg: #f5f5f5;
  --not-main-bg: #f5f4fa;
  --active-btn: #188ce8;
  --border-header: #ececec;
  --border-technology-list: #eeeeee;
  --bg-icon-footer: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --overplay-technology: rgba(33, 150, 243, 0.9);
  --bg-modal: rgba(0, 0, 0, 0.2);
}

$Roboto: Roboto, sans-serif;
$Raleway: Raleway, sans-serif;
